<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="RUTA_FESTIVOS" value="C:\GestionJornada\GestionJornada\Ficheros\Festivos.txt"/>
    <add key="RUTA_HORARIO" value="C:\GestionJornada\GestionJornada\Ficheros\Horario.txt"/>
    <add key="RUTA_HORARIO_VERANO" value="C:\GestionJornada\GestionJornada\Ficheros\Horario_Verano.txt"/>
    <add key="RUTA_HORAS_TOTALES_MES" value="C:\GestionJornada\GestionJornada\Ficheros\HorasTotalesMes.txt"/>
    <add key="RUTA_TIPO_HORARIO" value="C:\GestionJornada\GestionJornada\Ficheros\TipoHorario.txt"/>
    <add key="RANGO" value="10"/>
    <add key="RUTA_EXCEL" value="C:\GestionJornada\Ficheros\RegistroJornada.xlsx"/>
    <add key="PRIMERA_FILA_DETALLE_EXCEL" value="14"/>
    <add key="FILA_PIE_EXCEL" value="51"/>
    <add key="FILA_CABECERA_EXCEL" value="10"/>
  </appSettings>
  
</configuration>
